<h2>The App Component</h2>

<!--Interpolation {{}}-->
<div>{{message}}</div>
<!--Property binding [<Attrinute>]="<PROPERTY>"-->
<input type="text" [value]="message">

<br>
<a [href]="url">DevCurry</a>
<br>
<input type="button" value="Click Me" (click)="display()">
<br>
<!--Psss value of any attribute to its event using $event agrument-->
<input type="button" value="The Button" (click)="receiveValueFromEvent($event)">
<br>
<div>
  <strong>Using Two-Way Binding</strong>
  <br>
  <input type="text" [(ngModel)]="name">
  <br>
  <input type="text" [(ngModel)]="name">
  <br>
  <input type="text" [(ngModel)]="name">
  <br>
  <div>
    <strong>{{name}}</strong>
  </div>
</div>
<br>
<!--Dynamically generating <select><option></option></select> using *ngFor-->
<div> <strong>{{selectedCharacter}}</strong> </div>
<select [(ngModel)]="selectedCharacter">
   <option *ngFor="let c of characters" value="{{c}}">{{c}}</option>
</select>
<br>
<!--Dynamically generating <select><option></option></select> using *ngFor of complex array-->
<div> <strong>{{selectedCharacter}}</strong> </div>
<select [(ngModel)]="selectedCharacter">
   <option *ngFor="let e of emps" value="{{e.EmpNo}}">{{e.EmpName}}</option>
</select>
<br>
<input type="button" value="Toggle" (click)="toggleValue()">
<div *ngIf="toggle">
  The Meessage
</div>
<br>
<div [hidden]="!toggle">
  The Message
</div>
<br>
<!--Generating HTML table based on Array-->
<table>
  <thead>
    <tr>
      <th>EmpNo</th>
      <th>EmpName</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <!--Generate Row based on Array-->
    <tr *ngFor="let e of employess">
      <td>{{e.EmpNo}}</td>
      <td>{{e.EmpName}}</td>
      <td>{{e.Salary}}</td>
    </tr>
  </tbody>
</table>
<br>
<h5>Dynamically Generating Table</h5>

<table>
  <thead>
     <th *ngFor="let col of colums">{{col}}</th>
  </thead>
  <tbody>
    <!--each row is an instance of employee object-->
    <tr *ngFor="let e of employess">
      <!--display value for each of the property of the employee-->
       <td *ngFor="let col of colums">{{e[col]}}</td>
    </tr>
  </tbody>
</table>
